@tailwind base;
@tailwind components;
@tailwind utilities;

/* head에 쓰이는 폰트 */
@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 메인 페이지에 적용되는 폰트 */
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #B99FE5;
}

.headname {
  font-family: 'LOTTERIACHAB';
  z-index: 0;
  font-size: x-large;
  color: white;
  text-shadow: 4px 2px 2px rebeccapurple;
  justify-content: space-around;
}

.notice {
  font-family: 'NeoDunggeunmoPro-Regular';
  background-color: white;
  width: 420px;
  margin: 0 auto;
  border-radius: 20px;
}
.otherfont{
  font-family: 'KOTRAHOPE';
  font-size: larger;
}
.place::placeholder {
  color: white;
  
  /* font-style: italic; */
}