@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: #B99FE5;
}

body {
  font-family: 'LOTTERIACHAB';
  /* #B99FE5 B9A0FE */
}

.headname {
  z-index: 0;
  font-size: x-large;
  color: white;
  text-shadow: 4px 2px 2px rebeccapurple;
  justify-content: space-around;
}