@tailwind base;
@tailwind components;
@tailwind utilities;

/* head에 쓰이는 폰트 */
@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 메인 페이지에 적용되는 폰트 */
@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KOTRAHOPE';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* 카드 페이지에 적용되는 폰트 */
@font-face {
  font-family: 'TAEBAEKmilkyway';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* photo 페이지 */
@font-face {
  font-family: 'LeeSeoyun';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* cam page */
@font-face {
  font-family: 'KimjungchulMyungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

html {
  background-color: #B99FE5;
  min-width: 360px;
}

.headname {
  font-family: 'LOTTERIACHAB';
  z-index: 0;
  font-size: x-large;
  color: white;
  text-shadow: 4px 2px 2px rebeccapurple;
  justify-content: space-around;
}

.notice {
  font-family: 'NeoDunggeunmoPro-Regular';
  background-color: white;
  /* width: 380px; */
  margin: 0 auto;
  border-radius: 20px;
}

.project-card {
  @apply flex flex-col transition transform hover: scale-105 hover:shadow-lg
}

.otherfont {
  font-family: 'KOTRAHOPE';
  font-size: larger;
}

.giftfor {
  font-family: 'KOTRAHOPE';
  color: white;
  font-size: larger;
  height: 80px;
}

.place::placeholder {
  color: white;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.parent {
  position: relative;
}

.children {
  font-family: 'TAEBAEKmilkyway';
  position: relative;
  left: 10px;
  top: -130px;
}

.children2 {
  font-family: 'TAEBAEKmilkyway';
  position: relative;
  left: 30px;
  top: -400px;
}

.fixed {
  position: fixed;
  top: 100px;
  left: 20px
}

.backImg {
  font-family: 'TAEBAEKmilkyway';
  font-weight: bolder;
  padding-left: 30px;
  width: 100%;
  height: 400px;
  background-image: url("../public/letter1.png");
  background-size: 100% 100%;
}

.bold {
  display: inline-block;
  margin: 10px 10px 35px 10px;
  width: 150px;
  color: white;
  border-radius: 50px;
  padding: 10px;
  font-style: normal;
  background: linear-gradient(to top, pink, rgba(54, 46, 212, 0.507));
}

.npoint {
  font-family: 'InkLipquid';
  font-size: x-large;
}

.point {
  font-family: 'LOTTERIACHAB';
}

.shine {
  font-family: 'LeeSeoyun';
}

.fix-parent {
  position: relative;
  ;
}

.chunsik-image {
  position: relative;
  display: inline;
  top: -380px;
  left: 150px;
}
<<<<<<< HEAD
.photo_head{
  font-family: 'KimjungchulMyungjo-Bold';
}

.headd{
    font-family: 'LOTTERIACHAB';
    color: white;
    text-shadow: 4px 2px 2px gray;
    justify-content: space-around;
=======

.photo_head {
  font-family: 'KimjungchulMyungjo-Bold';
}

.headd {
  font-family: 'LOTTERIACHAB';
  color: white;
  text-shadow: 4px 2px 2px gray;
  justify-content: space-around;
>>>>>>> 0f0fac21ec962bd473250eb7096bee54519949c6
}